<%- include('include/header'); %>
    
  <div class="container text-white">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron bg-dark mt-5">
            <h1 class="display-4">Protected Page</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
<%- include('include/footer'); %>