<%- include('include/header'); %>

  <!-- Body -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Home Page</h1>
        <a href="/login">Login</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('include/footer'); %>