<%- include('include/header'); %>
    
  <div class="container">
    <div class="row">
      <div class="col-4 mt-5 mb-5 offset-md-4">
        <div class="card mb-3">
          
              <div class="card-body text-center bg-dark text-white">
                <h5 class="card-title">Login</h5>
                <p class="card-text">Faça seu login aqui.</p>
              </div>
          
          <form class="card-body" action="/login" method="POST">
            
            <div class="form-group">
              <label for="email">Endereço de Email</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Insira seu Email">
            </div>
            
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha">
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <a href="/register" class="mute">Cadastrar Usuário</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
<%- include('include/footer'); %>