<%- include('include/header'); %>
    
  <div class="container">
    <div class="row">
      <div class="col-4 mt-5 mb-5 offset-md-4">
        <div class="card mb-3">

        
          
              <div class="card-body text-center bg-dark text-white">
                <h5 class="card-title">Register</h5>
                <p class="card-text">Cadastro de Usuario.</p>
              </div>
          
          <form class="card-body" action="/usuarios" method="POST">
            
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome:">
            </div>

            <div class="form-group">
              <label for="email">Endereço de Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu Email">
            </div>

            <div class="form-group">
              <label for="papel">Papel</label>
              <select class="form-control" name="papel" id="papel">
                <option selected >Selecione um Papel</option>
                <option value="administrador">Administrador</option>
                <option value="editor">Editor</option>
                <option value="autor">Autor</option>
                <option value="assinante">Assinante</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="senha" class="form-control" id="senha" name="senha" placeholder="Senha">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Cadastrar Usuario</button>
            </div>
          </form>
        </div>
        <a href="/login" class="mute">Login</a>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('include/footer'); %>