  <footer class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <p class="text-center pt-3 text-white">Muzzera - Copyright</p>
        </div>
      </div>
    </div>
    
  </footer>
  </body>
  </html>  